# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/

# Database
db.sqlite3
*.sqlite3
instance/
migrations/

# Environment variables
.env
.env.local

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db   