<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header class="navbar">
      <div class="container nav-content">
        <h2 class="logo">Task<span>Flow</span></h2>
        <nav>
          <a href="#add">Add Task</a>
          <a href="#tasks">Tasks</a>
          <button id="dark">DARK MODE</button>
        </nav>
      </div>
    </header>

    <main class="container">
      <section id="add" class="card">
        <h1>Add New Task</h1>
        <form id="add-task-form" method="POST" action="/add">
          <input type="text" name="tit" placeholder="Task title" required />
          <textarea
            name="dis"
            placeholder="Task description"
            required
          ></textarea>
          <button type="submit">Add Task</button>
        </form>
      </section>

      <section id="tasks" class="card">
        <h2>Your Tasks</h2>
        <div class="task-list con2">
          <!-- JS will render tasks here -->
        </div>
      </section>
    </main>

    <footer>
      <p>© 2026 Ananya Mengistu — All rights reserved</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
